[Desktop Entry]
Type=Application
Version=1.0
Name=Install CatOS(advanced)
Name[zh_CN]=安装CatOS(联网)
GenericName=Live Installer
Comment=Install the operating system to disk
Comment[zh_cn]=CatOS安装器-高级安装
Exec=calamares_polkit --config /usr/share/calamares-advanced
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
